@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F0FF;
  --foreground: #4B3E65;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  background-clip: text;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  * {
    @apply transition-colors duration-1000 ease-in-out;
  }
}
